{% extends 'base.html' %}


{% block content %}
    <h1>{{ project_name }}</h1>
    <p>Данный проект был разработан для обучения и последующей тестировки модели, которая определяет тональность отзыва,</p>
    <p>а также даёт ему оценку по шкале от 1 до 10, где 1 - очень плохо, 10 - очень хорошо</p>
    <p>Модель была обучена на так называемом <a href="https://ai.stanford.edu/~amaas/data/sentiment/">"Large Movie Review Dataset"</a>. </p>
    <a href="{% url 'add_review' %}">перейти на форму</a>
    <p><a target="_blank" href = 'https://github.com/AlexShmigelskii/MovieReview'>гитхаб проекта</a></p>
{% endblock %}
